.small_icon {
  color: green;
  font-weight: bold;
  border: 2px solid blue;
  padding: 5px;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
}
.small_icon:hover {
  transition-duration: 500ms;
  background: lightblue;
  border: 2px solid green;
}
.left {
  float: left;
}
.right {
  float: right;
}
.suggest_item {
  height: 30px;
  line-height: 30px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
.confirm {
  text-align: center;
  min-width: 150px;
}
.note {
  border: 1px solid orange;
  display: none;
}
a.btn-default {
  color: #444;
}
.msgshow {
  position: fixed;
  top: 0px;
  right: 0px;
  background: white;
  padding: 10px;
  z-index: 100;
  border: 1px solid gray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: none;
  z-index: 10000;
}
.vac_icon:hover {
	background-position-x: 32px;
}
.relative {
  position: relative;
}
.suggest {
  z-index: 100;
  background: white;
  display:none;
  position: absolute;
  overflow-y:scroll;
  max-height: 300px;
  width: -webkit-fill-available;
  width: 100%;
}
.suggest div:hover {
	background: #afa;
	cursor: pointer;
}
.footer_list li {
	list-style-type: square;
}
.footer_list li a {
	color: black !important;
}
.input {
	padding: 4px;
	width: 90%;
	height: 2em;
}
.inmax {
  width: 80% !important;
}
.button {
	margin: 4px;
	padding: 4px;
	height: 2em;
}
.khung {
  height: 250px;
  overflow-y: scroll;
}
.thump {
	max-width: 240px;
	max-height: 240px;
}
.mini-icon {
	width: 17px;
	height: 18px;
	cursor: pointer;
	display: inline-block;
}
.icon {
	width: 32px;
	height: 32px;
}
.square_red {
	display: inline-block;
	background: red;
	text-align: center;
}

.upload {
	background: url("/uploads/movie_up.png");
	float: right;
	margin: 4px;
	border: 1px solid black;
}

.upload:hover {
	margin: 3px;
	border: 2px solid #5CBE33;
}

.vng_vacbox tbody tr:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* #vac_info, #vac_info2, #vac_info3 {
  background: #eee;
  border: 1px solid black;
  z-index: 1001;
  padding: 10px;
  width: 75%;
  position: fixed;
  left: 50%;
  margin-left: -37.5%;
} */
#vac_info, #vac_info2, #vac_info3 {
  background: #eee;
  border: 1px solid black;
  z-index: 1001;
  padding: inherit;
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#vac_info2 {
  z-index: 1002;
}

#reman {
  display: none;
  background: black; 
  opacity: 0.5; 
  position: fixed; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  z-index: 1000;
}

#vac_notify {
  display: none; 
  position: fixed; 
  top: 0; 
  right: 0; 
  background: white; 
  padding: 8px; 
  border: 1px solid black; 
  z-index: 1001;
}

#vac_info #thumb-box, #vac_info2 #thumb-box {
  width: 200px;
  height: 200px;
  float: left;
}

#vac_info #thumb, #vac_info2 #thumb {
  width: 200px;
  height: 200px;
  background: url('/uploads/no_image.jpg');
}

#vac_info #info, #vac_info2 #info {
  float: left;
  margin-left: 10px;
  line-height: 20px;
  width: 40%;
}

#vac_info .treating, #vac_info2 .treating {
  float: right;
  margin-left: 10px;
  line-height: 43px;
  width: 55%;
}

#tinhtrang {
  float: right;
}

#dstreating span {
  background: #4af;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 4px;
  color: white;
}

td, th {
  padding: 4px;
}

.cell-center {
  text-align: center;
  vertical-align: inherit !important;
}

.item-border {
  border: 2px solid black;
}

.red {
  background: red;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
.yellow {
  background: yellow;
}
.orange {
  background: #ffaa44 !important;
}
.redbg {
  background: lightsalmon;
}

.yellowbg {
  background: lightpink;
}

.greenbg {
  background: lightgreen;
}
#ui-datepicker-div {
  z-index: 10000 !important;
}
.customer_icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: inline-block;
  background-image: url('/themes/default/images/vaccine/contact_add_small.png')
}
.pet_icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: inline-block;
  background-image: url('/themes/default/images/vaccine/pet_add.png')
}