  .red {
    background: pink;
    color: black;
  }

  label {
    width: 100%;
  }

  .right {
    text-align: right;
  }

  .igleft {
    position: relative;
    float: left;
    left: 40px;
  }
  .igright {
    position: relative;
    float: right;
    left: 5px;
  }
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #wrapper {
    position: relative;
  }
  .popover {
    width: 200px;
  }
  .branch {
    position: relative;
    margin-left: 200px;
  }
  .branch:before {
    content: "";
    width: 25px;
    border-top: 2px solid #eee9dc;
    position: absolute;
    left: -50px;
    top: 50%;
    margin-top: 1px;
  }
  .entry {
    position: relative;
    min-height: 60px;
  }
  .entry:before {
    content: "";
    height: 100%;
    border-left: 2px solid #eee9dc;
    position: absolute;
    left: -25px;
  }
  .after-hack {
    position: absolute;
    right: 0px;
    z-index: 1;
    width: 22px;
    height: 22px;
    min-width: 0px;
    min-height: 0px;
    padding: 5px 0px 10px 2px;
  }
  .entry:after {
    content: "";
    width: 25px;
    border-top: 2px solid #eee9dc;
    position: absolute;
    left: -25px;
    top: 50%;
    margin-top: 1px;
  }
  .entry:first-child:before {
    width: 10px;
    height: 50%;
    top: 50%;
    margin-top: 2px;
    border-radius: 10px 0 0 0;
  }
  .entry:first-child:after {
    height: 10px;
    border-radius: 10px 0 0 0;
  }
  .entry:last-child:before {
    width: 10px;
    height: 50%;
    border-radius: 0 0 0 10px;
  }
  .entry:last-child:after {
    height: 10px;
    border-top: none;
    border-bottom: 2px solid #eee9dc;
    border-radius: 0 0 0 10px;
    margin-top: -9px;
  }
  .entry.sole:before {
    display: none;
  }
  .entry.sole:after {
    width: 50px;
    height: 0;
    margin-top: 1px;
    border-radius: 0;
  }

  hr {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .green {
    background: lightgreen;
    color: black;
  }

  .btn {
    min-height: 34px;
  }

  .container {
    margin-top: 40px;
  }

  #error {
    font-weight: bold;
    font-size: 1.25em;
    color: red;
    text-align: center;
  }

  .start-content {
    padding-top: 3cm;
  }

  .start-content img {
    width: 500px;
  }

  #ui-datepicker-div {
    z-index: 10000 !important;
  }

  #msgshow {
    position: fixed;
    top: 0px;
    right: 0px;
    background: white;
    padding: 10px;
    z-index: 100;
    border: 1px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
    z-index: 10000;
  }

  .relative {
    position: relative;
  }

  .suggest_item {
    height: 37px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  .suggest_item2 {
    height: 65px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  .suggest {
    z-index: 100;
    background: white;
    display: none;
    position: absolute;
    overflow-y:scroll;
    max-height: 300px;
    width: -webkit-fill-available;
    width: 100%;
  }
  .suggest div:hover {
    background: #afa;
    cursor: pointer;
  }

  .xleft {
    float: left; width: 64px; height: 64px;
  }
  .xright {
    float: left; width: calc(100% - 64px);
  }

  .saved {
    z-index: 10;
  }

  .cell-center {
    text-align: center;
    vertical-align: inherit;
  }

  .thumbnail {
    width: 240px;
    height: 240px;
    background: url(/modules/biograph/src/thumbnail.jpg);
  }

  @media screen and (max-width: 640px) {
    .start-content {
      padding: 0px;
    }
    .start-content img {
      width: 50%;
    }
  }
